/BorneMcDo/nbproject/private/
/BorneMcDo/BorneMcDo-war/nbproject/private/
/BorneMcDo/BorneMcDo-ejb/nbproject/private/
/BorneMcDo/build/
/BorneMcDo/BorneMcDo-war/dist/
/BorneMcDo/dist/
/BorneMcDo/BorneMcDo-ejb/dist/
/BorneMcDo/BorneMcDo-war/build/
/BorneMcDo/BorneMcDo-ejb/build/