@font-face{
    font-family: 'museo';
    src: url('../font/museo_slab_500.otf') format('opentype');
}

.btn-plein{
    width: 400px;
    border: solid 3px;
    border-radius: 5px;
    border-color: #004812;
    background-color: #004812;
    font-family: 'museo';
    font-size: 1.6em;
    text-transform: uppercase;
    color : #ffffff;
}

.btn-plein:hover{
    font-family: 'museo';
    text-transform: uppercase;
    color : #cccccc;
}

.btn-evide{
    width: 400px;
    border: solid 3px;
    border-radius: 5px;
    border-color: #004812;
    font-family: 'museo';
    font-size: 1.6em;
    text-transform: uppercase;
    color : #004812;
}

.btn-evide:hover{
    font-family: 'museo';
    text-transform: uppercase;
    color : #cccccc;
}

.btn-choix-evide{
    width: 400px;
    height: 400px;
    border: solid 3px;
    border-radius: 5px;
    border-color: #004812;
    font-family: 'museo';
    font-size: 10em;
    text-transform: uppercase;
    color : #004812;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-choix-evide:hover{
    font-family: 'museo';
    text-transform: uppercase;
    color : #cccccc;
}