@font-face{
    font-family: 'museo';
    src: url('../font/museo_slab_500.otf') format('opentype');
}

.btn-plein{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    border: solid 3px;
    border-radius: 5px;
    border-color: #004812; /* Vert foncé */
    background-color: #004812; /* Vert foncé */
    font-family: 'museo';
    font-size: 0.8em;
    font-weight: 900;
    text-transform: uppercase;
    color : white; /* #ffffff : Blanc */
    text-decoration: none;
}

.btn-plein:hover{
    font-family: 'museo';
    text-transform: uppercase;
    color : #cccccc; /* Grisé ("Gray80") */
    text-decoration: none;
}

.btn-plein a{
    text-decoration: none;
}

/* Ajout Florent */
.btn-pleinlarge{
    width: 400px;
    margin-bottom: 20px;
    margin-top: 50px;
    border: solid 3px;
    border-radius: 5px;
    border-color: #004812; /* Vert foncé */
    background-color: #004812; /* Vert foncé */
    font-family: 'museo';
    font-size: 1.6em;
    font-weight: 900;
    text-transform: uppercase;
    color : white; /* #ffffff : Blanc */
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-pleinlarge:hover{
    font-family: 'museo';
    text-transform: uppercase;
    color : #cccccc; /* Grisé ("Gray80") */
    text-decoration: none;
}

.btn-evide{
    width: 400px;
    border: solid 3px;
    border-radius: 5px;
    border-color: #004812; /* Vert foncé */
    font-family: 'museo';
    font-size: 1.6em;
    font-weight: 900;
    text-transform: uppercase;
    color : #004812; /* Vert foncé */
}

.btn-evide:hover{
    font-family: 'museo';
    text-transform: uppercase;
    color : #00280a;
}

.btn-choix-evide{
    margin-top: 100px;
    width: 200px;
    height: 200px;
    border: solid 3px;
    border-radius: 5px;
    border-color: #004812; /* Vert foncé */
    font-family: 'museo';
    font-size: 4em;
    text-transform: uppercase;
    color : #004812; /* Vert foncé */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-choix-evide:hover{
    font-family: 'museo';
    text-transform: uppercase;
    color : #00280a;
    text-decoration: none;
}

/*
	Ajout par Florent : bouton btn-modeconsommation-evide, inspiré de ce qui
	a été fait pour btn-choix-evide.
*/
.btn-modeconsommation-evide{
    margin-top: 100px;
    width: 200px;
    height: 200px;
	/*
		NOTA :
		Il faut forcer l'affichage en un mode qui ne soit pas "inline-*", car
		une balise inline ne peut pas avoir de "height".
	*/
	display: flex;
    border: solid 3px;
    border-radius: 5px;
    border-color: #004812; /* Vert foncé */
    font-family: 'museo';
    font-size: 1.6em;
    text-transform: uppercase;
    color : #004812; /* Vert foncé */
    margin: auto;
	word-wrap: break-word; /* Aller à la ligne en coupant entre les mots. */
	text-align: center; /* Centrer horizontalement. Mais, si un mot trop
						   "Supercalifragilisticexpialidocious" long ne rentre
						   pas dans la width il faudra réduire la font-size
						   pour avoir un texte de nouveau centré, car le fait
						   d'avoir un mot trop long fait que le texte se
						   retrouve aligné à gauche au lieu d'être centré.*/
	/*
		NOTA :
		align-items et justify-content : que pour un display de type flex.
    */
	align-items: center; /* Centrer verticalement. */
	/*
		NOTA : centrer horizontalement avec un justify-content valant "center"
		ne fonctionne que si l'on n'a qu'une seule ligne de texte.
	*/
}

.btn-modeconsommation-evide:hover{
    font-family: 'museo';
    text-transform: uppercase;
    color : #cccccc; /* Grisé ("Gray80") */
}

/*
	Ajout par Florent : bouton btn-promotion-evide, inspiré de ce qui
	a été fait pour btn-choix-evide.
*/
.btn-promotion-evide{
    margin-top: 100px;
    width: 200px;
    height: 200px;
	/*
		NOTA :
		Il faut forcer l'affichage en un mode qui ne soit pas "inline-*", car
		une balise inline ne peut pas avoir de "height".
	*/
	display: flex;
    border: solid 3px;
    border-radius: 5px;
    border-color: #004812; /* Vert foncé */
    font-family: 'museo';
    font-size: 1.1em;
    text-transform: uppercase;
    color : #004812; /* Vert foncé */
    margin: auto;
	word-wrap: break-word; /* Aller à la ligne en coupant entre les mots. */
	text-align: center; /* Centrer horizontalement. Mais, si un mot trop
						   "Supercalifragilisticexpialidocious" long ne rentre
						   pas dans la width il faudra réduire la font-size
						   pour avoir un texte de nouveau centré, car le fait
						   d'avoir un mot trop long fait que le texte se
						   retrouve aligné à gauche au lieu d'être centré.*/
	/*
		NOTA :
		align-items et justify-content : que pour un display de type flex.
    */
	align-items: center; /* Centrer verticalement. */
	/*
		NOTA : centrer horizontalement avec un justify-content valant "center"
		ne fonctionne que si l'on n'a qu'une seule ligne de texte.
	*/
}

.btn-promotion-evide:hover{
    font-family: 'museo';
    text-transform: uppercase;
    color : #cccccc; /* Grisé ("Gray80") */
}

/* Ajout par Florent : erreur : texte en rouge pour les éléments utilisant
   cette classe. */
.erreur {
    color: red; /* Rouge */
}

/* Ajout par Florent : indentation : 30 pixels de marge extérieure (margin)
   à gauche des éléments utilisant cette classe. */
.indentation {
    margin-left: 30px;
}

.ouinon{
    text-decoration: none;
    font-family: 'museo';
    font-size: 1em;
    color : #004812; /* Vert foncé */
}

.ouinon:hover{
    text-decoration: none;
    font-family: 'museo';
    font-size: 1em;
    color : #00280a;
}

.cat{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}

.cat a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8em;
    font-family: 'museo';
    color: #004812; /* Vert foncé */
}

.cat p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.cat:hover{
    background-color: #cccccc; /* Grisé ("Gray80") */
}

.cat img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 70px;
}

.cat-centre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}

.cat-centre a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    font-family: 'museo';
    color: #004812; /* Vert foncé */
}

.cat-centre p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.cat-centre:hover{
    background-color: #cccccc; /* Grisé ("Gray80") */
}

.cat-centre img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100px;
}

.cat-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}

.cat-article img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 120px;
}

h1{
    margin-top: 100px;
    font-family: 'museo';
    font-size: 2em;
    color : #004812; /* Vert foncé */
}

/* Ajout par Florent : h2. */
h2{
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'museo';
    font-size: 1.5em;
    color : #004812; /* Vert foncé */
}

h4{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'museo';
    text-transform: uppercase;
    color : #004812; /* Vert foncé */
    font-weight: 900;
}

h6{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'museo';
    text-transform: uppercase;
    color : #004812; /* Vert foncé */
    font-weight: 900;
}

/* Ajout par Florent : zone de saisie de texte. */
input[type=text] {
    border: solid 3px;
    border-radius: 5px;
    border-color: #004812; /* Vert foncé */
    font-family: 'museo';
    font-size: 1.5em;
    color : #004812; /* Vert foncé */
}

/* Ajout par Florent : label. */
label{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'museo';
    font-size: 1.5em;
    color : #004812; /* Vert foncé */ 
}

p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'museo';
    color : #004812; /* Vert foncé */ 
    font-weight: 900;
}

.btn-cadre-conf{
    margin: auto;
    width: 100%;
    height: 150px;
    border: solid 3px;
    border-radius: 5px;
    border-color: #004812; /* Vert foncé */
    font-family: 'museo';
    font-size: 1em;
    text-transform: uppercase;
    color : #004812; /* Vert foncé */
    display: flex;
    margin-bottom: 2%;
}

.btn-cadre-conf:hover{
    font-family: 'museo';
    text-transform: uppercase;
    
    
}
.btn-confirm{
    background-color: #004812; /* Vert foncé */
    color: white;
    float: right;
}
.btn-confirm:hover{
    background-color: #00280a;
    color: white;
}
.btn-paiement{
    background-color: #004812; /* Vert foncé */
    color: white;
    margin-top: 150%;
    
}
.btn-paiement:hover{
    background-color: #00280a;
    color: white;
}
.sandwich{
    background-color: #004812; /* Vert foncé */
    color: white;
    top: -15%;
    text-transform: uppercase;
    font-family: 'museo';
}
.control{
    color: #004812; /* Vert foncé */
    border: 3px;
    border-style: solid;
    border-color: #004812; /* Vert foncé */
    border-radius: 5px;
    font-family: 'museo';
    height: 260px;
    text-transform: uppercase;
}
.titre{
    position: absolute;
    background-color: #004812; /* Vert foncé */
    color: white;
    top: -10%;
    text-transform: uppercase;
    font-family: 'museo';
    left: 0;
}
.heure{
    color: black;
    font-style: oblique;
    font-weight: bold;
    line-height: 50%;
    margin-top: 1%;
    
}
.article{
    line-height: 40%;
    font-size: 0.8em;
}
.suping{
    font-size: 0.8em;
    padding-left: 20px;
    line-height: 10%;
    margin-top: -10px;
}
.artCom{
    display: flex;
    top: -40px;
    font-size: 0.6em;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.choix-boisson{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}

.choix-boisson a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    font-family: 'museo';
    color: #004812; /* Vert foncé */
}

.choix-boisson p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.choix-boisson:hover{
    background-color: #cccccc; /* Grisé ("Gray80") */
}

.choix-boisson img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 200px;
}
.pay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.carte{
    line-height: 250%;
}
.choixConso{
    margin-top: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}