@font-face{
    font-family: 'museo';
    src: url('../font/museo_slab_500.otf') format('opentype');
}

.btn-plein{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    border: solid 3px;
    border-radius: 5px;
    border-color: #004812;
    background-color: #004812;
    font-family: 'museo';
    font-size: 0.8em;
    text-transform: uppercase;
    color : #ffffff;
    text-decoration: none;
}

.btn-plein:hover{
    font-family: 'museo';
    text-transform: uppercase;
    color : #cccccc;
    text-decoration: none;
}

.btn-plein a{
    text-decoration: none;
}

.btn-evide{
    width: 400px;
    border: solid 3px;
    border-radius: 5px;
    border-color: #004812;
    font-family: 'museo';
    font-size: 1.6em;
    text-transform: uppercase;
    color : #004812;
}

.btn-evide:hover{
    font-family: 'museo';
    text-transform: uppercase;
    color : #cccccc;
}

.btn-choix-evide{
    margin-top: 100px;
    width: 200px;
    height: 200px;
    border: solid 3px;
    border-radius: 5px;
    border-color: #004812;
    font-family: 'museo';
    font-size: 4em;
    text-transform: uppercase;
    color : #004812;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-choix-evide:hover{
    font-family: 'museo';
    text-transform: uppercase;
    color : #cccccc;
}

.cat{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cat a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8em;
    font-family: 'museo';
    color: #004812;
}

.cat p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.cat:hover{
    background-color: #cccccc;
}

.cat img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 70px;
}

.cat-centre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cat-centre a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    font-family: 'museo';
    color: #004812;
}

.cat-centre p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.cat-centre:hover{
    background-color: #cccccc;
}

.cat-centre img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100px;
}

.cat-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cat-article img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 120px;
}

h1{
    margin-top: 100px;
    font-family: 'museo';
    font-size: 2em;
    color : #004812;
}

h4{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'museo';
    text-transform: uppercase;
    color : #004812;
}

h6{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'museo';
    text-transform: uppercase;
    color : #004812;
}

p{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'museo';
    color : #004812; 
}

.btn-cadre-conf{
    margin-top: 100px;
    width: 1000px;
    height: 150px;
    border: solid 3px;
    border-radius: 5px;
    border-color: #004812;
    font-family: 'museo';
    font-size: 1em;
    text-transform: uppercase;
    color : #004812;
    display: flex;
    /*align-items: center;
    justify-content: center;*/
}

.btn-cadre-conf:hover{
    font-family: 'museo';
    text-transform: uppercase;
    
}
.btn-confirm{
    background-color: #004812;
    color: white;
    float: right;
}
.btn-confirm:hover{
    background-color: #00280a;
    color: white;
}
.sandwich{
    background-color: #004812;
    color: white;
    top: -15%;
    text-transform: uppercase;
    font-family: 'museo';
}
.control{
    color: #004812;
    border: 3px;
    border-style: solid;
    border-color: #004812;
    border-radius: 5px;
    font-family: 'museo';
    height: 260px;
    text-transform: uppercase;
}
.titre{
    position: absolute;
    background-color: #004812;
    color: white;
    top: -10%;
    text-transform: uppercase;
    font-family: 'museo';
    left: 0;
}

.heure{
    color: black;
    font-style: oblique;
    font-weight: bold;
    line-height: 50%;
    margin-top: 1%;
    
}
.article{
    line-height: 50%;
}
.suping{
    font-size: 0.8em;
    padding-left: 20px;
    line-height: 10%;
    margin-top: -10px;
}


.choix-boisson{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choix-boisson a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    font-family: 'museo';
    color: #004812;
}

.choix-boisson p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.choix-boisson:hover{
    background-color: #cccccc;
}

.choix-boisson img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 200px;
}